<h1>Student Management System</h1>

<div class="pull-right">
	<p></p>
</div>

<table class="table table-bordered table-hover table-striped">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="s in students">
		<td>{{s.id}}</td>
		<td>{{s.firstName + " " + s.lastName}}</td>
		<td>{{s.email}}</td>
		<td>{{s.status}}</td>
		<td>
			<a href="#/student/edit/{{s.id}}" class="btn btn-success btn-sm">Edit</a>
			<a href="#/student/delete/{{s.id}}" class="btn btn-danger btn-sm">Delete</a>			
		</td>
	</tr>
</table>	